

<section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_2.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <h1 class="mb-3 bread">Membership and Loyalties</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Membership Program <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>
<!-- 

<section class="breadcrumbs" style="background-image: url('images/bg_2.jpg');">
	<div class="container">
		<div class="row no-gutters">
			<div class="col-md-9 ftco-animate">
				<h1 class="mb-3 bread">Membership and Loyalties</h1>
				<p class="breadcrumbs">
					<span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span>
					<span>Membership Program <i class="ion-ios-arrow-forward"></i></span>
				</p>
			</div>
		</div>
	</div>
</section>
 -->



<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-9 ftco-animate">
				<h2 class="mb-4 bread">Membership Program</h2>

				<p>Welcome to our membership program. We are thrilled to offer this opportunity for you to experience our best features and benefits.</p>

				<h3 class="mb-4">What You Can Expect:</h3>

				<ul>
					<li>Free soil test. (along with a plan of action to bring soil up to its healthiest levels) 
                    </li>
					<li>3% off all services</li>
					<li>Priority Scheduling. (Allows them to choose their preferred day and puts them to the top of the list when bad weather or situations arise)                     </li>
					<li>Legacy Discount. (Gains 1% discount for every year they are in consecutive service with us. This applies on top off all current promotions. For example, if a customer has been with us for five years, paying for the platinum membership, along with the flat rate discount, (3%) they would get an additional 5% on top of that making their monthly bill have a 8% discount on all services.) </h6>
                    </li>
                    <li>Loyalty Point system. (For every $7 they spend with us, they can earn passive points to claim discounts, or company merch, or even a gift card for their friends. This is where the members login would be awesome for the customer).</h6>
                    </li>
                    <li>Green Rewards Program. (For every house we service, customers will receive 0.02 cents in company credit. This amount will be paid out at the end of their membership year and they can use this credit to apply it directly to their bill, turn the funds into a gift card for their friends, or they can choose to donate that amount to a charity of their choice.) </h6>
                    </li>
				</ul>

				<p>We believe that investing in your personal growth and success is an ongoing process. Our membership program is designed to support and encourage you along the way.</p>

				<p>To get started, simply sign up for a membership today and start reaping the benefits!</p>
                <div class="text-muted">
                    <button class="btn btn-primary">Become a Member</button>
                </div>
			</div>
		</div>
	</div>
</section>

  <section class="" style="margin-top: 100px; padding: 100px 0 100px 0; background-color: aliceblue;">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 ">
				<img src="../../images/seasonal-6.jpg" style="border-color: grey; border: solid; border-width: 10px;" alt="Placeholder Image" class="img-fluid">
			</div>
			
            <div class="col-lg-6">
                <div class="text-muted mb-3">
                    <h2>Cash in your Loyalty Points</h2>
                    <p class="text-muted">Small text here.</p>
                </div>
                <div class="border-bottom mb-3"></div> <!-- Partition -->
            
                <h6>
                    ⭐$10 discount = 70 points
                    <span></span>
                </h6>
                <h6>
                    <br>
                </h6>
                <h6>
                    ⭐$15 discount = 105 points
                    <span></span>
                </h6>
                <h6>
                    <br>
                </h6>
                <h6>
                    ⭐$20 discount = 140 points
                    <span></span>
                </h6>
                <h6>
                    <br>
                </h6>
                <div class="text-muted">
                    <button class="btn btn-primary">Become a Member</button>
                </div>
            </div>
		</div>
	</div>
</section>

<!-- 
<section class="ftco-section ftco-no-pt">
	<div class="container">
		<div class="row">
		
			<div class="col-lg-6">
				<h2>Title</h2>
				<p>Small text here.</p>
				<div class="border-bottom mb-3"></div> 
				
				<h4>Additional Section</h4>
				<p>More text...</p>
			</div>
            <div class="col-lg-6">
				<img src="../../images/seasonal-6.jpg" alt="Placeholder Image" class="img-fluid">
			</div>
		</div>
	</div>
</section> -->
